@import "tailwindcss";
/* @import "tailwindcss/preflight";
@tailwind utilities; */


* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  -ms-overflow-style: none;  /* Internet Explorer and Edge */
  scrollbar-width: none;     /* Firefox */
  font-family: "Ubuntu", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;

}

*::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}

.glass-button {
  padding: 20px 40px;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border: 1px solid black;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.glass-button:hover {
  background: rgba(255, 255, 255, 0.3);
  transform: translateY(-2px);
}


/* .glass-button-subtle {
  padding: 20px 40px;
  font-size: 20px;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.glass-button-subtle:hover {
  background: rgba(255, 255, 255, 0.25);
  transform: translateY(-2px);
} */

/* .glass-button-dark {
  padding: 20px 40px;
  font-size: 20px;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.glass-button-dark:hover {
  background: rgba(255, 255, 255, 0.4);
  transform: translateY(-2px);
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.15);
} */

.phone-border{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}


.project-font {
  font-family: "SUSE Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}